<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>

      <dt>Telephone</dt>
      <dd><%= @user.telephone %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
       <% if current_user.id == @user.id %>
        <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
        <% end %>
    </div>
  </div>
</div>
